.Button {
  background-color: transparent;
  text-align: center;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Success {
  background-color: #5C9210;
  border: 1px dotted khaki;
  color: khaki;
}

.Danger {
  background-color: rgb(198, 73, 59);
  border: 1px dotted lemonchiffon;
  color: lemonchiffon;
}